* {
    color: whitesmoke;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    background-color: rgb(0, 0, 0);
    padding: 10px;
}

#items {
    display: grid;
    grid-template-columns: repeat(16,auto);
    grid-template-rows: repeat(40,auto);
    row-gap: 1px;
    column-gap: 1px;
    width: fit-content;
}

.item {
    width: 25px;
    height: 25px;
    border: 1px lightcyan solid;
    background-repeat: no-repeat;
    background-size: 768px 480px;
    opacity: 0.4;
}

.item:hover{
    opacity: 1;
    border: 2px rgb(143, 23, 23) dashed;
}

.selected {
    opacity: 1;
    border: 2px rgb(143, 23, 23) dashed;
}

#map {
    margin-left: 200px;
    display: grid;
    grid-template-columns: repeat(32,auto);
    grid-template-rows: repeat(32,auto);
    row-gap: 1px;
    column-gap: 1px;
    width: fit-content;
}